@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* transition: 0.4s ease; */
}
p,h1,h2,h3,h4,h5,h6,a{
	letter-spacing: 1px;
}
a{
	text-decoration: none;
}
input,button{
	outline: none !important;
}
h1{
	letter-spacing: 2px;
}
#heading,
h2{
	letter-spacing: 1.5px;
}
@font-face {
	font-family: font1;
	src: url('codefont.woff');
}
/* font-family: 'Manrope', sans-serif; */
:root{
	/* --font: 'Inter', sans-serif; */
	/* founded a new color... : ; */
	--font: 'Manrope', sans-serif;
	--color-blue: #080B2E;
	--color-green: var(--color7);
	/* Click on color-code to add colors */

	--color1: rgb(98,125,95);
	--color2: rgb(47,213,133);
	--color3: rgb(72,211,153);
	--color4: rgb(174,229,221);
	--color5: rgb(246,216,227);
	--color6: rgb(221,248,227);
	--color7: rgb(29,250,140);
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
}

html{
	min-height: 100vh;
	scroll-behavior: smooth;
	/* background: #00c3ef40 !important; */
	/* background: #00cfff2e !important; */
	/* background: #e9fbff; */
	/* background: #e9fbff; */
	background: var(--color-blue);
	overflow-x: hidden;
}
.display-none{
	display: none;
}
.overflow-hidden{
	overflow: hidden;
}
.flex-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-column-justify-flex-start{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.flex-column-flex-start{
	display: flex;
	flex-direction: column;
	text-align: left;
}
.flex-row-warp{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;	
}
.flex-row-warp-2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;		
}
.flex-row-space-between{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.overflow-hide{
	overflow: hidden;
}
.full-width-full-height{
	width: 100%;
	height: 100%;
}
#mainBody{
	width: 100%;
	position: relative;
	z-index: 1;
	background: #e9fbff;
	min-height: 100vh;
	/* transition: .3s cubic-bezier(0.15, 0.02, 0, 1.1); */
	/* transition: .2s ease-in-out; */
	transition: .3s cubic-bezier(0.15, 0.03, 0.25, 0.96);

}
.heading{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    font-size: 1.8em;
    background: var(--color-blue);
    /* background: #080b2e00; */
    color: whitesmoke;
    font-family: var(--font);
    /* backdrop-filter: blur(10px); */
    box-shadow: 0px 8px 20px 1px #080b2e17;
}
.heading .fa{
	margin: 0 12px;
}
.useful-code{
	color: #707398;
	font-size: .4em;
    position: relative;
    top: -15px;
}

.front-page{
	width: 100%;
	padding: 0 !important;
}
.container{
	margin: 0 auto;
	position: relative;
	padding: 100px 0 50px;
	min-height: 100vh;
}

#first-section{
    height: 100vh;
    width: 100%;
    /* background: blue; */
    /* background: linear-gradient(rgb(99, 230, 208),rgba(99, 230, 208, 0.514)),url(1.webp); */
    /* background: linear-gradient(rgb(0,0,0,0.5),var(--color-blue-light)),url(photos/1.webp); */
    /* background: linear-gradient(180deg, #00000061, #1bcaa987),url(photos/2.webp); */
    background: linear-gradient(180deg, #00000080, #000000b5),url('photos/4_lower.webp');
    /* Best Wallpapers  :  4 , 8, 11 */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.main-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
   /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    color: whitesmoke;
    text-align: center;
    transform: translateY(20px);
	transition: 0.8s all;
	backdrop-filter: blur(8px);
}
.main-content h1{
    font-size: 3.4rem;
    font-family: var(--font);
}
.main-content p{
    font-size: 1.3rem;
    text-align: center;
    margin: 30px auto -5px;
    width: 430px;
    /* font-weight: 600; */
    font-family: var(--font);
    /* font-family: 'Courgette', cursive; */
}
.main-content .buttons a{
	margin-top: 25px;
	letter-spacing: 1.5px;
	color: black !important;
	font-weight: bold !important;
}
.buttons{
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.buttons a{
    font-size: 1rem;
    letter-spacing: 0.7px;
    text-decoration: none;
    color: whitesmoke;
    /* border: 1px solid whitesmoke; */
    border-radius: 100px;
    padding: 15px 30px;
    /* margin: 0 5px; */
    cursor: pointer;
    font-family: var(--font);
    transition: .3s ease;
}
#btn1{
	border: 3px solid var(--color-green);
    background: var(--color-green);
    color: whitesmoke;
	transition: 0.4s ease;
}
#btn1:hover{
    background: whitesmoke;
    color: var(--color-green);	
}
.main-content .arrows{
	margin: 15px auto 0;
	animation: sliding 1s ease-in-out infinite alternate;
}
@keyframes sliding {
	from{
		transform: translateY(-10px);
	}
	to{
		transform: translateY(10px);
	}
}
.main-content .arrows p{
	transform: rotate(180deg);
	margin-bottom: -60px;
	font-weight: bold;
	font-size: 1.9em;
}
.main-content .arrows p:nth-child(1){
	opacity: .8;
}
.main-content .arrows p:nth-child(2){
	opacity: .5;
}

/* sidebar */
.sidebar-access-btn{
	z-index: 101;
	position: fixed;
	bottom: 7%;
	right: 5%;
	transition: 0.1s ease;
}
.sidebar-access-btn:active{
	transform: scale(0.88);
}
.sidebar-access-btn button{
	letter-spacing: -0.5px !important;
	font-family: var(--font) !important;
	cursor: pointer;
	border-radius: 50%;
	font-size: 1.7em;
	border: none;
	outline: none;
	width: 60px;
	height: 60px;
	color: white;
	background: var(--orange);
	box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100vh;
    /* background: #ffffff7a; */
    /* background: #ffffffe0; */
    background: #f3f3f3;
    color: whitesmoke;
    z-index: -100;
	transition: .4s ease;
	font-family: var(--font);
    overflow-y: auto;
	display: none;
	opacity: 0;
	/* transform: translateY(-50px); */
}
.sidebar ul{
	height: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.sidebar ul .webpage{
	position: relative;
	text-align: center;
	margin: 5px 0;
	/* padding: 13px 15px; */
	/* width: 100%; */
	font-size: 1.5em;
	text-decoration: none;
	color: #000000a1;
	font-weight: bold;
	overflow: hidden;
	transition: 0s;
	font-family: var(--font);
}
.sidebar ul .webpage:hover{
    color: var(--orange);
	/* color: whitesmoke;
	background: var(--orange);
	box-shadow: inset rgb(0 0 0 / 10%) 0px 5px 12px 0px; */
}
.sidebar ul a .sidebar-icons{
	margin-right: 5px;
	transition: 0s ease;
}
.home-page{
	width: 100%;
	margin-bottom: 20px;
    background: var(--orange);
	text-align: center;
	font-weight: bold;
	padding: 20px;
	font-size: 2.7em;
	font-family: var(--font);
}
.home-page a{
	text-align: center;
	text-decoration: none;
	color: whitesmoke !important;
}

#showmenu{
	font-size: 1.5em;
	position: absolute;
	top: 17px;
	left: 20px;
	color: whitesmoke;
	cursor: pointer;
	z-index: 101;
}
.sidebar-active{
	z-index: 100 !important;
	/* transform: translateY(0px); */
	opacity: 1;
}




.list-item{
	width: 70vw;
	margin: 10px auto;
}
.styling{
	background: white !important;
	max-height: 300px;
	padding: 2.4em 1.4em .8em !important;
	font-size: 18px !important;
	/* border-radius: 8px; */
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
    /* border: 3px solid var(--color-blue); */
    /* box-shadow: 0px 0px 15px 2px #080b2e29; */
}
.font-change{
	font-family: font1 !important;
}
.details{
	font-size: 1.1em;
    /* box-shadow: 0px 8px 20px 1px #080b2e40; */
	position: relative;
	top: 8px;
	padding: 23px 30px;
	/* font-weight: bold; */
	/* border-radius: 10px; */
	/* border-top-left-radius: 8px;
	border-top-right-radius: 8px; */
	background: var(--color-blue);
	color: whitesmoke;
	font-family: var(--font);
	z-index: 5;
}
.list-item img{
	width: 100%;
	cursor: pointer;
	transition: 1s ease;
}
.list-item .buttons{
	width: 100%;
    background: var(--color-green);
    position: relative;
    top: -7px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; */
}
.list-item .buttons a{
	text-align: center;
	background: var(--color-green);
	text-decoration: none;
	color: white;
	padding: 20px 17px;
	font-size: 0.8rem;
	width: 100%;
    font-family: var(--font);
	transition: 0.4s ease;
}
.list-item .buttons .fa{
	transition: 0.001s ease !important;
	margin: 0 10px 0 0;
}
.list-item .buttons a:hover{
	/* background: #00000025; */
	box-shadow: inset 0px 0px 20px 8px #00000025;
}
.shortcuts .details{
	text-align: center;
    box-shadow: none !important;
}
.shortcuts{
	margin: 30px 30px;
	width: 400px !important;
}
.toolbar-item button {
	color: white !important;
	background: transparent !important;
	box-shadow: none !important;
}
.toolbar-item button span{
	box-shadow: 0px 2px 15px 1px #080b2e30 !important;
	cursor: pointer !important;
	background: #00d0ff !important;
	color: whitesmoke !important;
	padding: 7px 20px !important;
	transition: .5s ease;
	font-family: var(--font);
}
.toolbar-item button span:hover{
	background: #00b2da !important;
}


/* second section */

#second-section{
	width: 100%;
	padding: 30px 0 60px;
    background: #e9fbff !important;
}
#second-section h2{
	text-align: center;
	margin: 40px auto 50px;
	font-size: 2.4em;
	color: var(--color-blue);
	font-family: var(--font);
}
.all-cheat-sheets{
	max-width: 1200px;
}
.saparate-cheat-sheet:hover{
	--scale: scale(1.2);
}
.saparate-cheat-sheet img{
	padding: 30px;
	width: 200px;
	transform: var(--scale);
	transition: 0.4s ease;
}
.saparate-cheat-sheet{
    width: 290px;
    margin: 20px 40px;
	/* padding: 20px; */
	border-radius: 8px; 
	background: white;
	overflow: hidden;
	transition: 0.4s ease;
}
.saparate-cheat-sheet a{
	font-family: var(--font);
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100%;
	padding: 20px;
	color: var(--color-blue);
	background: var(--color-green);
	cursor: pointer;
	transition: 0.4s ease;
}
.saparate-cheat-sheet a:hover{
	/* --scal: ; */
	box-shadow: inset 0px 0px 20px 8px #00000025;
}


/* third section */


#third-team{
	width: 100%;
	padding: 30px 0;
    background: linear-gradient(#0000004f ,#0000007a),url(photos/2.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#third-team h2{
	color: whitesmoke;
	text-align: center;
	margin: 40px auto 50px;
	font-size: 2.4em;
	font-family: var(--font);
}
#third-team .all-persons .person{
	margin: 20px 40px;
	background: whitesmoke;
	border-radius: 10px;
	overflow: hidden;
	width: 270px;
}
#third-team .all-persons .person img{
	width: 100%;
	transition: 0.4s ease;
}
#third-team .all-persons .person:hover img{
	transform: scale(1.2);
}
#third-team .all-persons .person:hover .social{
	top: -50px;
	opacity: 1;
}
#third-team .all-persons .person .social{
    opacity: 0;
	position: relative;
    top: -20px;
    transition: .4s ease;
}
#third-team .all-persons .person .social a{
	margin: 0 7px;
	padding: 3px 8px;
	border-radius: 50px;
	background: white;
	cursor: pointer;
	color: var(--color-blue);
	transition: 0s ease;
}
.fa-facebook{
	padding: 0px 2px !important;
}
#third-team .all-persons .person .name{
	background: whitesmoke;
	margin:  -30px auto 0px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	font-size: 1.7em;
	font-weight: bold;
	/* color: whitesmoke; */
	color: var(--color-blue);
}
#third-team .all-persons .person .work{
	padding: 5px 20px 10px;
	width: 100%;
	text-align: center;
	font-size: 1em;
	color: var(--indigo);
	/* font-weight: bold; */
}
#third-team .all-persons .person .role{
	font-size: .96em;
	text-align: center;
	color: #0AF;
}
#third-team .all-persons .person .visit-site{
	/* font-weight: bold; */
	text-align: center;
	width: 100%;
	padding: 10px 0;
	color: whitesmoke;
	background: var(--indigo);
	transition: 0.4s ease;
}
#third-team .all-persons .person .visit-site:hover{
	box-shadow: inset 0px 0px 20px 8px #00000025;
}


.footer {
	position: relative;
	width: 100%;
    text-align: center;
    padding: 17px;
    font-size: 25px;
    color: whitesmoke;
    background: var(--color-blue);
    font-family: var(--font);
}
.footer #youthAvenue{
	color: whitesmoke;
	text-decoration: underline;
	font-weight: bold;
}


/* python file */

.python{
	margin: 0 auto;
	width: 80%;
	position: relative;
	padding: 70px 0 50px;
}
.python .seperate-table{
	width: 100%;
	margin: 30px auto;
}
.python table{
	width: 100%;
}
.python th{
	padding: 20px;
}
.python td{
	padding: 10px 15px;
}
.python tbody,
.python rows{
	width: 100%;
}
.python .rows:nth-child(even) {
	background: whitesmoke;
}
.python .rows:nth-child(odd) {
	background: #e6e6e6;
}
.python th{
	color: whitesmoke;
	background-color: #00d2ff;
}
.python .python-heading{
	text-align: center;
	padding: 15px 0;
	width: 100%;
	color: whitesmoke;
	background: var(--color-blue);
}
#table1,
#table2,
#table3{
	width: 100%;
}
.python .seperate-table{
	width: 100%;
	border: 4px solid black;
}
.python .rows .download-links a{
	background: #00d2ff;
	margin: 3px 5px;
    padding: 2px 7px;
    border-radius: 5px;
    color: black;
    transition: 0.2s ease;
}
.python .rows .download-links a:hover{
	background: var(--color-blue);
	color: whitesmoke;
}

/* search input styling */
.list-item-search{
	width: 100%;
}
.list-item-search #searchBox{
	margin: 30px auto 30px;
	width: 100%;
	padding: 20px;
	font-family: var(--font);
	font-size: 1.2em;
	border-radius: 5px;
	border: none;
	border: 1px solid whitesmoke;
}
.list-item-search #searchBox:focus{
	/* box-shadow: 0px 0px 10px -2px #00c3ef; */
	/* border: 3px solid var(--color-green); */
  box-shadow: 0 0 8px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
input[type=text]:focus, textarea:focus {
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}
#forth-disclaimer{
	width: 100%;
	padding: 30px 0;
    /* background: #e6faff; */
    background: #e9fbff;
}
#forth-disclaimer p{
	text-align: center;
	width: 50vw;
}
#forth-disclaimer .fa{
	margin: 0 10px 0 0;
	font-size: 1em;
}
#forth-disclaimer a{
	margin: 20px auto;
	padding: 10px 15px;
	color: whitesmoke;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.2em;
	/* background: var(--color-blue); */
	background: rgb(0,224,113);
	transition: 0.4s ease;
}
#forth-disclaimer a:hover{
	background: var(--color7);
}
#forth-disclaimer h2{
	color: var(--color-blue);
	text-align: center;
	margin: 0px auto 40px;
	font-size: 2.4em;
	font-family: var(--font);
}

/* cheat sheets download */
.download-cheat-sheets{
	margin: 0 auto;
	max-width: 1200px;
	padding: 120px 0;
}
.download-cheat-sheets .saparate-cheat-sheet{
	width: 250px;
}
.download-cheat-sheets .saparate-cheat-sheet .language-name{
	padding: 10px 20px 20px;
	text-align: center;
	font-size: 1.05rem;
}
.download-cheat-sheets .saparate-cheat-sheet img{
	padding: 20px 10px 10px 10px;
}
.download-cheat-sheets .saparate-cheat-sheet:hover{
	--scale: scale(1);
}
.download-cheat-sheets .saparate-cheat-sheet a{
	padding: 15px;
}
#downloadSection{
	width: 100%;
	padding: 0 0 200px;
	display: none;
}
.downloadSection .downloadButtons{
	/* padding: 20px 0; */
	background: white;
    width: fit-content;
    margin: 0 auto;
}
.downloadSection .downloadButtons .language_name_box{
	width: 100%;
	/* margin-bottom: 20px; */
	display: none;
	background: var(--color-blue);
	padding: 20px 70px;
	color: whitesmoke;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
.downloadSection .downloadButtons a{
	padding: 15px 30px;
    /* background: var(--color7); */
    font-size: 1.3em;
    border-radius: 5px;
    margin: 10px auto 0;
	color: var(--color-blue);
	transition: 0.18s all;
}
.downloadSection .downloadButtons a:hover{
    color: var(--color7);
	background: var(--color-blue);
}
.downloadSection{
	margin: 110px auto 0;
}
.downloadSection .waiting{
	max-width: 1200px;
	text-align: center;
	width: 90%;
	margin: 0 auto 1.4em;
	font-size: 1.6em;
    background: #76e6ff;
	border-radius: 6px;
    padding: 10px 40px;
}
.downloadSection .timer{
	text-align: center;
	font-size: 1.2em;
	margin: 20px auto 0;
}

@media (max-width: 360px){
	#heading{
		letter-spacing: 1.1px;
	    /* padding: 10px 20px; */
	    text-align: center;
	    display: flex;	
	}
	.container{
		width: 100%;
	}
	.python .action-tkinter{
		max-width: 160px;
	}
	.list-item-search #searchBox{
		padding: 10px;
	}
	#forth-disclaimer h2{
		font-size: 2.2em;
	}
	#forth-disclaimer p{
		text-align: justify;
		width: 80%;
	}
	#forth-disclaimer a{
		margin: 20px auto;
		padding: 10px;
		background: var(--color-green);
		color: whitesmoke;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 1em;
	}
}
@media (max-width: 540px){
	*{
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
	}
	#container{
		position: relative;
		top: -20px;
	}
	#second-section h2{
		margin: -0px auto 30px;
	}
	#third-team .all-persons .person .name{
		padding: 5px 0;
		font-size: 1.5em;
	}
	#third-team .all-persons .person .work{
		padding: 10px 10px 13px;
		font-size: .96em;
	}
	.download-cheat-sheets{
		padding: 80px 0 50px;
	}
	.download-cheat-sheets .saparate-cheat-sheet,
	.saparate-cheat-sheet{
		width: 40%;
	}
	.saparate-cheat-sheet img{
		width: 50%;
	}
	.saparate-cheat-sheet a{
		font-weight: 600;
	}
	.download-cheat-sheets .saparate-cheat-sheet img{
		width: 60%;
	}
	.download-cheat-sheets .saparate-cheat-sheet a{
		padding: 10px;
	}
	#third-team .all-persons .person{
		width: 65%;
	}
	.python{
		width: 95%;
		position: relative;
		padding: 60px 0 0;
	}
	.python td{
		font-size: 14px;
		padding: 10px 5px;
	}
	.python .seperate-table{
		border: 2px solid black;
	}
	.list-item-search{
		width: 90%;
	}
	.list-item-search #searchBox{
		padding: 15px 10px;
	}
	.get-more-keyboard-shortcuts a{
		padding: 10px !important;
		font-size: 1em !important;
	}
	#pinterest-logo{
		margin: 0;
	}
	#forth-disclaimer p{
		text-align: justify;
		width: 80%;
	}
	#third-team .all-persons .person .visit-site {
		padding: 10px 0 !important;
	    font-size: 0.9em;
	}
	.main-content .arrows p{
		margin-bottom: -60px;
	}
	.downloadSection .timer{
		width: 80%;
	}
}
@media (max-width: 850px){
	*{
		letter-spacing: .6px;
	}
	.list-item{
		width: 90%;
	}
	.container{
		width: 100%;
		padding: 80px 0 25px;
	}
	.shortcuts{
		margin: 15px; 		
	}
	.styling{
		font-weight: lighter !important;
	}
	.sidebar ul a{
		font-size: 1.3em;
	}
	.home-page{
		font-size: 1.7em;
	}
	.sidebar ul .social a{
		font-size: 1.7em;
		transition: 0.001s ease !important;
	}
	.sidebar ul .webpage{
		font-weight: bold;
		/* padding: 5px 0 5px 20px; */
		font-size: 1.2em;
	}
	.heading{
		box-shadow: 0px 8px 20px 1px #080b2e24;
	}
    .footer {
		font-size: 20px;
    }
	.flex-row-warp{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.shortcuts{
		width: 80% !important;
	}
	#first-section{
		/* background: url('photos/7.webp'); */
    	background: linear-gradient(180deg, #0000007a, #00000075),url('photos/7_lower.webp');
    	background-size: cover;
    	background-position: center;
	}
	.main-content h1{
		/* padding: 0 20px; */
	    font-size: 4rem;
	}
	.main-content p{
		font-size: 1.4rem;
		width: 80%;
	}
	h1{
		letter-spacing: 1.5px;
	}
	#heading{
		letter-spacing: 1.1px;
	    /* padding: 10px 20px; */
	    /* margin: 0 0 0 55px; */
	    text-align: center;
		display: flex;
		justify-content: center;
	}
	#btn1{
		color: white;
		background: var(--color-green);
	}
	.saparate-cheat-sheet{
		margin: 20px 10px;
	}
	.saparate-cheat-sheet a{
		padding: 10px;
		font-size: .7em;
	}
	.saparate-cheat-sheet img{
		padding: 20px 0 10px;
	}
	/* .download-cheat-sheets .saparate-cheat-sheet p, */
	.saparate-cheat-sheet p{
		padding: 15px 10px !important;
		font-size: .86em;
	}
	.list-item .buttons a{
		padding: 10px;
	}
	.details{
		padding: 17px 30px;
	}
	#third-team .all-persons .person .social{
	    opacity: 1;
	    top: -60px;
	}
	#third-team .all-persons .person:hover img{
		transform: scale(1);
	}
	#third-team .all-persons .person .visit-site {
	    padding: 15px 0;
	}
	.list-item-search{
		width: 90%;
	}
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
	height: 5px;
  	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 500px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #080b2e2e;
  border-radius: 500px;
  transition: 0.4s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a7f9c;
}