/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    letter-spacing: .5px !important;
}
::selection {
  background: transparent !important;
}
:root{
    --font: 'Inter', sans-serif;
}
#first-section-color{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-main-content{
    font-family: var(--font);
    margin: 0 auto;
    /* padding: 15px 5px; */
    padding: 30px;
    min-width: 300px;
    background: #1f1f1f;
    color: whitesmoke;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 70px -12px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container-main-content p{
    font-family: var(--font);
    font-size: 1.3em;
    padding: 5px 10px;
}
#color-heading {
    font-size: 2em;
    font-family: var(--font);
    color: gold;
    margin: 5px 0 20px;
}
#randomColor{
    font-family: var(--font);
    width: 100%;
    background: #1f1f1f;
    color: whitesmoke;
    text-align: center;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
#randomColor:active{
	transform: scale(0.7);    
}
button{
    font-family: var(--font);
    border: none;
    color: black;
    background: gold;
    margin: .5rem 0 0;
    padding: 6px 14px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
button:active{
	transform: scale(0.9);
}
.copyTextDiv p{
    font-family: var(--font);
}
.copyTextDiv{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 220px;
    box-shadow: 0px 0px 70px -12px #00000052;
    transition: 0.5s ease;
    opacity: 0;
}
.note{
    width: 200px;
    font-family: var(--font);
    font-size: .8em !important;
}
#second-section{
    padding: 40px 0 !important;
}
.styling {
    max-height: fit-content !important;
}

@media (max-width: 450px) {
    .container-main-content{
        min-width: 0;
        width: 90%;
    }
    #color-heading {
        font-weight: bold;
    }
}